@model IEnumerable<WallPostByTechBrij.Models.UserProfile>

@using (Html.BeginForm())
{
    <p>
        Search Friends @Html.TextBox("SearchString")&nbsp;
        <button type="submit" class="btn" style="width: 100px">Search</button>
    </p>
}

 

@*<form class="form-search">
    <input type="text" class="input-medium search-query">
   
</form>*@

<table>
   

    @foreach (var item in Model) {
        <tr>
            <td>
                <img src="@Url.Action("GetImage", "UserProfile", new {id = item.UserId})" width="40" />
            </td>                  
            <td>
                &nbsp;@Html.DisplayFor(modelItem => item.FirstName)&nbsp; @Html.DisplayFor(modelItem => item.LastName) &nbsp; &nbsp; &nbsp;
            </td>
            
            <td>
                From:@Html.DisplayFor(modelItem => item.Address)&nbsp; &nbsp;
            </td>
            <td>
                About Me:@Html.DisplayFor(modelItem => item.AboutMe)
            </td>
            <td>
                @Html.ActionLink("Add Friend", "SendRequest", new { id=item.UserId  }) |
            </td>
        </tr>
        
}

</table>